.roundElement	{
	border-radius: 30px;
}

.roundElementBig {
  border-radius: 250px;
}

.parallax-container {
    width: 2048px;
    height: 1065px;
   }
.resize {
    width: 658px;
    height: 370px;
   }
.middle
{
	text-align: center;
}
